*, html, body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

#stoplight {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 4;
}

.stoplight-col {
    padding: 1px !important;
}

.triangle-top-right {
    width: 0;
    height: 0;
    border-top: 25px solid #192328;
    border-left: 25px solid transparent;
    filter: brightness(200%);
}

.stop-block {
    height: 50px;
    width: 50px;
    background: #192328;
    position: relative;
    filter: brightness(200%);
}

.light-circle {
    height: 35px;
    width: 35px;
    border-radius: 17.5px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -17.5px;
    margin-left: -17.5px;
}

.red-light {
    background: red;
    border: 2px solid red;
    opacity: 25%;
    filter: brightness(25%) blur(0);
}

.yellow-light {
    background: yellow;
    border: 2px solid yellow;
    opacity: 125%;
    filter: brightness(125%) blur(1px);
}

.green-light {
    background: green;
    border: 2px solid green;
    opacity: 25%;
    filter: brightness(25%) blur(0);
}

.yellow-light:hover {
    transform: scale(1.1);
}

.triangle-top-left {
    width: 0;
    height: 0;
    border-top: 25px solid #192328;
    border-right: 25px solid transparent;
    filter: brightness(200%);
}


#top-nav {
    background: #3d1951;
    color: white;
}

#top-nav a {
    color: white;
}

#head-section {
    height: 100vh;
    width: 100%;
    background: url("/images/in-home-dance.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    position: relative;
}

#head-title {

}

/*.navbar {*/
/*    position: absolute;*/
/*    top: 10px;*/
/*    z-index: 3;*/
/*    background: transparent;*/
/*    text-transform: uppercase;*/
/*}*/

.navbar a, .navbar a:hover {
    color: white;
}

#nav-dark-txt a {
    color: black !important;
}

/*.navbar li {*/
/*    margin: 0 10px;*/
/*    opacity: 80%;*/
/*}*/

.navbar li:hover {
    opacity: 100%;
}

#logo {
    height: 80px;
    width: auto;
}

#head-section h2 {
    margin: 0;
    color: #c1d62e;
    text-shadow: 2px 2px 4px black;
    font-size: 2.5em;
    font-weight: bold;
}

#head-section h1 {
    margin: 0;
    padding: 0;
    color: white;
    text-shadow: 3px 3px 5px black;
    font-size: 3.5em;
    font-weight: bold;
}

.btn-primary {
    font-weight: bold !important;
    border-radius: 50px !important;
    border: 3px solid #3d1951 !important;
    color: white !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    background: #3d1951 !important;
}

.btn-primary:hover {
    background: white !important;
    color: #3d1951 !important;
}

.btn-outline-primary {
    font-size: 1.25em !important;
    font-weight: bold !important;
    border-radius: 50px !important;
    border: 3px solid white !important;
    color: white !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.btn-outline-primary:hover {
    border: 3px solid #3d1951 !important;
    background: #3d1951 !important;
}

/*#colored-boxes div {*/
/*    margin-top: -100px;*/
/*    z-index: 3;*/
/*    height: 224px;*/
/*    width: 220px;*/
/*    border-radius: 20px;*/
/*    transition: transform 0.4s ease;*/
/*}*/

#colored-dashes {
    width: 33%;
    margin: 0 auto;
}

#colored-dashes div {
    height: 3px;
    width: 90px;
}

.flip-card {
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    margin-top: -100px;
    z-index: 3;
    height: 224px;
    width: 220px;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 20px;
    background: #eab830;
}

.flip-card-back {
    transform: rotateY(180deg);
    font-size: 0.7em !important;
}

/*#colored-boxes div:hover {*/
/*    transform: translateY(-30px);*/
/*}*/

.flip-card ion-icon {
    color: white;
    font-size: 3em;
}

#colored-boxes p {
    color: white;
    font-weight: bold;
    font-size: 1.25em;
    padding: 5px 10px;
}

.box-one, .one-dash { background: #eab830; }
.box-two, .two-dash { background: #307ad5; }
.box-three, .three-dash { background: #1ec1d9; }
.box-four, .four-dash { background: #10c45c; }
.box-five, .five-dash { background: #d94da6; }

.btn-pink { background: #d94da6 !important; color: white !important; margin-bottom: 3px; }
.btn-green { background: #10c45c !important; color: white !important; margin-bottom: 3px; }
.btn-aqua { background: #1ec1d9 !important; color: white !important; }
.btn-pink:hover, .btn-green:hover, .btn-aqua:hover { filter: brightness(90%);}

.bg-mdu-gray {
    background: #3d1951;
}

.bg-light-gray {
    background: #4F2C63;
}

#achievements-section {
    height: 100vh;
    width: 100%;
    background: url("/images/school-days-camp.JPG");
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    scroll-behavior: smooth;
    overflow-x: hidden;
    position: relative;
}

#achievements-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #3d1951;
    opacity: 60%;
}

#achievements-section ion-icon {
    font-size: 4em;
}

.achievement-number {
    font-size: 3em;
    font-weight: bold;
    color: #c1d62e !important;
}

.achievement-text {
    font-size: 1.25em;
    font-weight: bold;
    text-transform: uppercase;
}

#teacher-focus-section {
    background: white;
    /*height: 100vh;*/
}

#focus-label {
    background: #3d1951;
    color: white;
    padding: 10px 20px;
    width: max-content;
}

#focus-name {
    font-size: 3em;
    font-weight: bold;
}

#focus-list {
    font-size: 1.15em;
}

#teacher-focus-classes {
    margin-top: -115px;
    z-index: 3;
}

#trial-section {
    background: #c1d62e;
    color: black;
}

.gold-date-box {
    border: 2px solid #978547;
    padding: 2px;
    color: #978547;
}

.gold-number {
    font-size: 1.5em;
}

.gold-month {
    font-size: 0.85em;
}

.short-divide {
    width: 30px;
    border-top: 3px solid #008cc0;
}

.blog-link h5:hover {
    color: #008cc0;
    cursor: pointer;
}

#blog-section img {
    position: relative;
}

.blog-link-img img {
    transition: all 0.4s ease;
}

.blog-link-img img:hover {
    cursor: pointer;
    filter: grayscale(20%) brightness(80%);
    opacity: 80%;
}

.bg-gray {
    background: #30393e !important;
}

.footer {
    margin: 0 3%;
    font-size: 90%;
}

.footer img {
    width: 100%;
}

.footer-title {
    border-right: 1px solid #c1d62e;
    writing-mode: vertical-lr;
    text-orientation: upright;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 70%;
}

.footer ul {
    position: relative;
    text-align: left;
    margin-left: 20px;
}

.footer li {
    color: white;
    opacity: 70%;
    padding: 0;
    line-height: 1.5;
    margin-left: 25px;
}

.footer a {
    color: white;
    padding: 0;
}

.footer a:hover {
    color: white;
}

.footer li:hover {
    text-decoration: underline;
}

.footer .col-1,
.footer .col-3,
.footer .col-5 {
    padding: 0;
}

.footer iframe {
    border: 1px solid #c1d62e;
}

#credit {
    margin: 0;
}

.banner-wrap {
    height: 200px;
}

.banner {
    height: 100%;
    background-image: url(/images/banner-caledonia.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.border-green {
    border: 2px solid #c1d62e;
}

.div-green {
    height: 4px;
    width: 33%;
    background: #c1d62e;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
}

.background-green {
    background: #c1d62e;
}

.number-green {
    background: #c1d62e;
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
}

#camp-schedule td,
#camp-schedule tr,
#camp-schedule th,
#camp-schedule table {
    border: 1px solid grey;
}

#class-schedule td,
#class-schedule tr,
#class-schedule th,
#class-schedule table {
    border: 1px solid grey;
}

#class-schedule td a,
#camp-schedule td a {
    background: #3d1951;
    color: white;
    padding: 5px;
    font-size: 0.8em;
}

#class-schedule td a:hover,
#camp-schedule td a:hover {
    text-decoration: none;
    background: #4F2C63;
}

#safer-studio-black {
    filter: invert(100%);
}

.badge-success {
    background: #c1d62e !important;
    color: black !important;
    font-weight: normal !important;
    font-size: 1em !important;
}

/* LAVENDER
#aa999c
*/

/* GOLD
#978547
 */

/* GREY
#AAA4A5
 */

/* PURPLE
#3d1951
*/

/* LIGHT PURPLE
#4F2C63
 */

/* GREEN
#c1d62e
*/

/***********************************************************************************************************/
/*********************************************** 2021-2022 DESIGN ******************************************/
/***********************************************************************************************************/

body {
    font-family: 'Montserrat', sans-serif;
    background: #3d1951;
}

#nav-21,
#nav-21 a,
#nav-21 ion-icon {
    color: black;
    font-size: 1.05em;
    opacity: 90%;
}

#nav-list-21 a {
    color: black;
}

#primary-bg {
    height: 80vh;
    width: 100%;
    background: url("/images/in-home-dance.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    position: relative;
}

.color-filter-pink {
    position: absolute;
    background: #d94da6;
    opacity: 60%;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.color-filter-green {
    position: absolute;
    background: #10c45c;
    opacity: 60%;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.color-filter-blue {
    position: absolute;
    background: rgba(48, 122, 213, 1);
    opacity: 60%;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#primary-txt {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 40%;
    /*transform: translate(-50%, -50%);*/
    font-size: 3.75em;
    text-align: center;
    color: white;
    text-transform: lowercase;
}

#primary-txt-mobile {
    position: absolute;
    top: 35%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    text-align: center;
    color: white;
    text-transform: lowercase;
}

.secondary-txt {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.btn-family {
    color: white;
    border-radius: 30px;
    transition: background 0.4s ease;
    padding: 10px 20px;
}

.txt-green { color: #10c45c; }
.txt-blue { color: #307ad5; }
.txt-pink { color: #d94da6; }

.txt-kapa-teal { color: #978547; }
.txt-kapa-orange { color: #3d1951; }
.txt-kapa-pink { color: #c1d62e; }
.txt-kapa-green { color: #aaa4a5; }

.btn-turq { background: rgba(30, 193, 217, 1); }
.btn-yellow, .bg-yellow { background: rgba(234, 184, 48, 1); }
.btn-blue { background: rgba(48, 122, 213, 1); }
.btn-green { background: rgba(16, 196, 92, 1); }
.btn-pink { background: rgba(217, 77, 166, 1); }

.bg-turqoise {
    background: rgba(30, 193, 217, 1);
    color: white;
}

.bg-kapa-orange { background: #c1d62e; }

.btn-kapa-teal { background: #978547; color: white;}
.btn-kapa-orange { background: #3d1951; color: white;}
.btn-kapa-pink { background: #c1d62e; color: white;}
.btn-kapa-green { background: #aaa4a5; color: white;}

.underline-teal { border: 2px solid RGBA(28, 143, 145, 1); transition: 0.8s background ease; }
.underline-orange { border: 2px solid RGBA(235, 151, 29, 1); transition: 0.8s background ease; }
.underline-pink { border: 2px solid RGBA(209, 60, 152, 1); transition: 0.8s background ease; }
.underline-green { border: 2px solid RGBA(150, 154, 60, 1); transition: 0.8s background ease; }

.underline-teal:hover { background: RGBA(28, 143, 145, 1); }
.underline-orange:hover { background: RGBA(235, 151, 29, 1); }
.underline-pink:hover { background: RGBA(209, 60, 152, 1); }
.underline-green:hover { background: RGBA(150, 154, 60, 1); }

.btn-kapa-teal:hover { opacity: 0.7; color: white; }
.btn-kapa-orange:hover { opacity: 0.7; color: white; }
.btn-kapa-pink:hover { opacity: 0.7; color: white; }
.btn-kapa-green:hover { opacity: 0.7; color: white; }

.btn-turq:hover { background: rgba(30, 193, 217, 0.7); color: white; }
.btn-yellow:hover { background: rgba(234, 184, 48, 0.7); color: white; }
.btn-blue:hover { background: rgba(48, 122, 213, 0.7); color: white; }
.btn-green:hover { background: rgba(16, 196, 92, 0.7); color: white; }
.btn-pink:hover { background: rgba(217, 77, 166, 0.7); color: white; }

.primary-btn-pos {
    position: absolute;
    bottom: 35%;
    left: 19%;
    /*transform: translate(-50%, -50%);*/
}

#button-tablet {
    position: absolute;
    bottom: 35%;
    left: 18%;
}

#button-mobile {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.secondary-txt-pos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: 1.25em;
}

.tertiary-txt-pos {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*width: 100%;*/
    font-size: 1.25em;
}

#vision {
    transform: translateY(-70px);
}

#next-steps {
    transform: translateY(-150px);
}

.next-step {
    background: white;
    color: black;
    width: 300px;
    height: 200px;
    padding: 40px 20px;
    text-align: center;
    margin: 0 20px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 1.25em;
}

#checklist-bg p,
#checklist-bg h2,
#checklist-bg ion-icon
{
    text-shadow: 1px 1px 4px black;
}

#checklist-bg {
    height: 60vh;
    width: 100%;
    background: url("/images/school-days-camp.JPG");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

#mtjgd-bg {
    height: 100vh;
    width: 100%;
    background: url("/images/la-crosse-dance-studios.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

#testimonials .col-md {
    background: white;
    border-radius: 15px;
}

#footer ion-icon {
    font-size: 1.5em;
}

/*.banner-wrap {*/
/*    height: 200px;*/
/*}*/

/*.banner {*/
/*    height: 100%;*/
/*    background-image: url(/images/banner.jpg);*/
/*    background-attachment: fixed;*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*}*/

/*---------------------------------------*/
/* BIO ACCORDION */
/*---------------------------------------*/
/* Style the buttons that are used to open and close the accordion panel */
.bioaccordion {
    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    background: white;
}

/*.bioaccordion:hover {*/
/*    background: #ebe82e;*/
/*}*/

/* Style the accordion panel. Note: hidden by default */
.biopanel {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
    z-index: 1;
    width: 100%;
    background: white;
}

.biopanel-open {
    width: 100%;
    background: white;
}

.box-one { background: #eab830; border-radius: 20px; color: white; height: 150px; font-size: 1.5em; font-weight: bold; padding: 0 15px; text-align: center; }
.box-two { background: #307ad5; border-radius: 20px; color: white; height: 150px; font-size: 1.5em; font-weight: bold; padding: 0 15px; text-align: center; }
.box-three { background: #1ec1d9; border-radius: 20px; color: white; height: 150px; font-size: 1.5em; font-weight: bold; padding: 0 15px; text-align: center; }
.box-four { background: #10c45c; border-radius: 20px; color: white; height: 150px; font-size: 1.5em; font-weight: bold; padding: 0 15px; text-align: center; }
.box-five { background: #d94da6; border-radius: 20px; color: white; height: 150px; font-size: 1.5em; font-weight: bold; padding: 0 15px; text-align: center; }

#fall-select a {
    text-decoration: none;
}

.font-pacifico {
    font-family: 'Pacifico', cursive;
}

.accordion-button {
    background: #B8EDEB !important;
}

.accordion-button::after {
    background-image: none !important;
}

#enroll-form label {
    text-align: right;
}

@media only screen and (max-width: 600px) {
    #enroll-form label {
        text-align: left;
    }
}
